<div class="mx-auto w-50 mt-5">
  <form action="/records" method="GET" class="d-flex">
    <label for="category"></label>
    <select class="form-control" name="category" id="category" onchange="this.form.submit()">
      <option value="all" {{#if all}} selected {{/if}}>全部類別</option>
      <option value="home" {{#if home}} selected {{/if}}>家居物業</option>
      <option value="travel" {{#if travel}} selected {{/if}}>交通出行</option>
      <option value="fun" {{#if fun}} selected {{/if}}>休閒娛樂</option>
      <option value="food" {{#if food}} selected {{/if}}>餐飲食品</option>
      <option value="misc" {{#if misc}} selected {{/if}}>其他</option>
    </select>

    <label for="month"></label>
    <input class="form-control ml-3" type="month" name="month" id="month" value="{{{queriedMonth}}}"
      onchange="this.form.submit()">
  </form>
</div>




<div class="text-center mt-5 mb-3 container">
  <div class="row w-75 mx-auto">
    <div class="col" title="類別 / 總計">
      <h1><i class="fas fa-calculator"></i></h1>
      <h3>{{{subtotal}}}/{{{total}}}</h3>
    </div>

    <div class="col" title="支出百分比">
      <h1><i class="fas fa-star-half-alt"></i></h1>
      <h3 class="text-info">{{{percentage}}}%</h3>
    </div>
  </div>


</div>

{{! 清單}}
<ul class="list-group w-75 mx-auto mb-5">
  {{#each records}}
    <li class="list-group-item mx-auto w-75 d-flex justify-content-between align-items-center">
      <div class="flex-grow-2">
        {{#if this.home}}
          <i class="fas fa-home"></i>
        {{/if}}

        {{#if this.travel}}
          <i class="fas fa-shuttle-van"></i>
        {{/if}}

        {{#if fun}}
          <i class="fas fa-grin-beam"></i>
        {{/if}}

        {{#if food}}
          <i class="fas fa-utensils"></i>
        {{/if}}

        {{#if misc}}
          <i class="fas fa-pen"></i>
        {{/if}}

        <span class="w-25 ml-3 text-center">{{this.name}}</span>
      </div>

      <div class="flex-grow-1 text-center">
        <small>{{this.date}}</small>
      </div>

      <div class="flex-grow-1 text-center">
        <span class="font-weight-bold">{{this.amount}}</span>
      </div>

      <div class="d-flex">
        <a class="btn btn-primary" href="/records/{{{this._id}}}/edit">編輯</a>
        <button class="btn btn-danger ml-3" data-toggle="modal" data-target="#deletion-warning">刪除</button>
      </div>
    </li>

    {{! deletion warning modal}}
    <div class="modal fade" id="deletion-warning" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">刪除紀錄</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <p>您確定要刪除此項消費紀錄嗎？</p>
            <ul class="mx-auto ml-4">
              <li class="mb-2"><span class="font-weight-bold">種類</span><span class="mr-2">:</span>{{this.category}}
              </li>
              <li class="mb-2"><span class="font-weight-bold">支出項目</span><span class="mr-2">:</span>{{this.name}}</li>
              <li class="mb-2"><span class="font-weight-bold">消費日期</span><span class="mr-2">:</span>{{this.date}}</li>
              <li class="mb-2"><span class="font-weight-bold">購買商家</span><span class="mr-2">:</span>{{this.retailer}}
              </li>
              <li class="mb-2"><span class="font-weight-bold">金額 (新臺幣)</span><span class="mr-2">:</span>{{this.amount}}
              </li>
            </ul>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <form action="/records/{{{this._id}}}/delete?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-primary">刪除紀錄</button>
            </form>
          </div>
        </div>
      </div>
    </div>


  {{/each}}

</ul>