<div class="card-body w-50 mx-auto">

  <h1 class="text-center mb-5">修改支出資料</h1>

  <small>*：必填</small>

  <form action="/records/{{{record._id}}}?_method=PUT" method="POST" class="mt-3">
    <div class="form-group d-flex align-items-center">
      <label for="category" class="w-50">種類*：</label>
      <select class="form-control" name="category" id="category" required>
        <option value="home" {{#if record.home}} selected {{/if}}>家居物業</option>
        <option value="travel" {{#if record.travel}} selected {{/if}}>交通出行</option>
        <option value="fun" {{#if record.fun}} selected {{/if}}>休閒娛樂</option>
        <option value="food" {{#if record.food}} selected {{/if}}>餐飲食品</option>
        <option value="misc" {{#if record.misc}} selected {{/if}}>其他</option>
      </select>
    </div>

    <div class="form-group d-flex align-items-center">
      <label for="name" class="w-50">支出項目*：</label>
      <input type="text" id="name" name="name" maxlength="20" class="form-control" value="{{{record.name}}}" required>
    </div>

    <div class="form-group d-flex align-items-center">
      <label for="date" class="w-50">消費日期*：</label>
      <input type="date" id="date" name="date" class="form-control" value="{{{record.date}}}" required>
    </div>

    <div class="form-group d-flex align-items-center">
      <label for="retailer" class="w-50">購買商家*：</label>
      <input type="text" id="retailer" name="retailer" value="{{{record.retailer}}}" class="form-control" required>
    </div>

    <div class="form-group d-flex align-items-center">
      <label for="amount" class="w-50">金額 (新台幣)*：</label>
      <input type="number" id="amount" name="amount" class="form-control" value="{{{record.amount}}}" required>
    </div>


    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">確定</button>
    </div>
  </form>

</div>